:root {
    font-family: 'Outfit';
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font family set to 15px for 1rem */
    font-size: 93.75%;  
}

/* main page */

.main {
    height: 100vh;
    background-color: var(--light-gray);
    display: grid;
    place-items: center;
    padding: 5rem 2rem;
}

.qr {
    background-color: var(--white);
    height: 30rem;
    max-width: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 6fr 4fr;
    row-gap: 1.5rem;
}

.qr__code {
    grid-row: 1 / 2;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    border-radius: 1rem;
}

.qr__text {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.25rem;
}

.qr__text > * {
    text-align: center;
}

.qr__text--main {
    font-size: 1.25rem;
    color: var(--dark-blue);
}

.qr__text--secondary {
    font-size: 0.85rem;
    color: var(--grayish-blue);
}

/* media query for mobile +  */
@media screen and (min-width: 1440px) {
    .qr__text--secondary {
        font-size: 1rem;
    }
    
}

/* media query for laptop */
@media screen and (min-width: 1440px) {
    .qr {
        padding: .75rem;
        row-gap: 2rem;
    }
    .qr__text {
        padding: 0 1rem;
    }
    .qr__text--main {
        font-size: 1.45rem;
    }
    
    .qr__text--secondary {
        font-size: 1rem;
    }
    
}